[submodule "submodules/dale"]
	path = submodules/dale
	url = git@github.com:dalefukami/Dale-Linux-Config.git
[submodule "submodules/git-flow-completion"]
	path = submodules/git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion.git
[submodule "submodules/dale-vim"]
	path = submodules/dale-vim
	url = git@github.com:dalefukami/Dale-Vim-Setup.git
[submodule "submodules/accurev"]
	path = submodules/accurev
	url = git@github.com:dalefukami/accurev-zsh.git
